<form  #f="ngForm" (ngSubmit)="onSubmit()" class="form-horizontal">
<div class="row">
  <div class="form-group col-sm-6 col-xs-6">
  	<label>URL of IDS broker to connect to</label>
    <input  [(ngModel)]="settings.brokerURL" name="brokerURL" type="text" class="form-control" placeholder="http://localhost">
  </div>
  <div class="form-group col-sm-6 col-xs-6">
  	<label>Container registry</label>
    <input  [(ngModel)]="settings.containerRegistryURL" name="containerRegistryURL" type="text" class="form-control" placeholder="registry.hub.docker.io">
  </div>
</div>  
<div class="row">
  <div class="form-group col-sm-6 col-xs-6">
  	<p>Container management system</p>
    <label class="radio-inline custom-radio nowrap">
    	<input  [(ngModel)]="settings.cmlType" name="cmlType" id="docker" type="radio" value="docker" class="form-control">
   		<span>Docker</span>
   	</label>
    <label class="radio-inline custom-radio nowrap">
    	<input  [(ngModel)]="settings.cmlType" name="cmlType" id="trustx" type="radio" value="trustX" class="form-control">
   		<span>TrustX</span>
   	</label>
  </div>
</div>  
<div class="row">
  <div class="form-group col-md-1 col-md-offset-11">
  	<button type="submit" [disabled]="!f.valid" class="btn btn-primary">Submit</button>
  </div>
</div>  
</form>
