.gradle/
.metadata
.project
.settings
rat-repository/src/main/docker/jar/*
*.bin
/.sonarlint/
/dist-docker/
*.log
/target/
/.recommenders/
/RemoteSystemsTempFiles/
*.iml
/.idea
/karaf-assembly/src/main/resources/deploy/*.xml