.viz {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1em;
    border: 1px dashed black;
    box-sizing: border-box;
}

.viz i {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
}