<div class="mdl-grid">

  <div class="app-card card-dark mdl-card mdl-cell mdl-cell--6-col mdl-shadow--2dp">
    <div class="mdl-card__title">
         <h2 class="mdl-card__title-text">Exposed Endpoints</h2>
    </div>

    <table class="table table-striped">
        <thead>
           <tr>
            <th width="25%" style="padding-left:16px;">
              Endpoint
            </th>
            <th width="25%">
              Protocol
            </th>
            <th width="25%">
              Host
            </th>
            <th width="25%">
              Port
            </th>
          </tr>
        </thead>
         <tbody>
            <tr  *ngFor="let endp of endpoints" >
              <td style="padding-left:16px;">
                  {{ endp.endpointIdentifier }}
              </td>
              <td>
                {{ endp.defaultProtocol }}
              </td>
              <td>
                {{ endp.host }}
              </td>
              <td>
                {{ endp.port }}
              </td>
            </tr>
        </tbody>
    </table>
  </div>

  <div class="app-card card-dark mdl-card mdl-cell mdl-cell--6-col mdl-shadow--2dp">
    <div class="mdl-card__title">
         <h2 class="mdl-card__title-text">Incoming Connections</h2>
    </div>

    <table class="table table-striped">
        <thead>
           <tr>
            <th width="72%" style="padding-left:16px;">
              Endpoint
            </th>
            <th width="28%">
              Trust Status
            </th>
          </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let conn of incomingConnections" >
              <td style="padding-left:16px;">
                  {{ conn.endpointIdentifier }}
              </td>
              <td>
                {{ conn.attestationResult }}
              </td>
            </tr>
        </tbody>
    </table>
  </div>

  <div class="app-card card-dark mdl-card mdl-cell mdl-cell--6-col mdl-shadow--2dp">
    <div class="mdl-card__title">
         <h2 class="mdl-card__title-text">Outgoing Connections</h2>
    </div>
    <table class="table table-striped">
        <thead>
           <tr>
            <th width="47%" style="padding-left:16px;">
              Endpoint
            </th>
            <th width="14%">
              State
            </th>
            <th width="17%">
              Client Auth
            </th>
            <th width="20%">
              Remote Host
            </th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let connOut of outgoingConnections" >
            <td style="padding-left:16px;">
              {{ connOut.endpointIdentifier }}
            </td>
            <td>
              {{ connOut.lastProtocolState }}
            </td>
            <td>
              {{ connOut.remoteAuthentication }}
            </td>
            <td>
              {{ connOut.remoteIdentity }}
            </td>
          </tr>
        </tbody>
    </table>

  </div>
</div>
