<ul class="mdl-list">
  <li class="mdl-list__item mdl-list__item--three-line" *ngFor="let certificate of certificates; trackBy: trackCerts">
    <span class="mdl-list__item-primary-content">
      <em class="material-icons mdl-list__item-avatar">person</em>
      <span>{{ certificate.subjectCN }}</span>
      <span class="mdl-list__item-text-body">
        {{ certificate.subjectDistinguishedName }}
      </span>
    </span>
    <span class="mdl-list__item-secondary-content" style="text-align:right">
      <a class="mdl-list__item-secondary-action mdl-color-text--grey-600" (click)="onDelete(certificate.alias)">
        <em class="material-icons">delete</em>
      </a>
    </span>
  </li>
</ul>
