<div class="mdl-grid">

	<div class="card-dark mdl-card mdl-cell mdl-cell--6-col  mdl-shadow--2dp">
		<div class="mdl-card__title">
			<h2 class="mdl-card__title-text">My Identities</h2>
		</div>
		<div class="mdl-card__supporting-text">
			<certificate-card [certificates]="identities" [onDeleteCallback]="deleteIdentity"></certificate-card>
		</div>
		<div class="mdl-card__menu">
			<button routerLink="/identitynew"
				class="mdl-button mdl-js-button mdl-button--icon mdl-color--white mdl-color-text--black">
				<em class="material-icons">add</em>
			</button>
      <button routerLink="/identitynewest"
              class="mdl-button mdl-js-button mdl-button--icon mdl-color--white mdl-color-text--black">
        <em class="material-icons">important_devices</em>
      </button>
		</div>
	</div>


	<div class="card-dark mdl-card mdl-cell mdl-cell--6-col  mdl-shadow--2dp">
		<div class="mdl-card__title">
			<h2 class="mdl-card__title-text">Trusted Certificates</h2>
		</div>
		<div class="mdl-card__supporting-text">
			<certificate-card [certificates]="certificates" [onDeleteCallback]="deleteCert"></certificate-card>
		</div>
		<div class="mdl-card__menu">
			<file-uploading #cu2 (change)="cu2.upload()" [multiple]="true"></file-uploading>
      <button routerLink="/est-cert"
              class="mdl-button mdl-js-button mdl-button--icon mdl-color--white mdl-color-text--black">
        <em class="material-icons">important_devices</em>
      </button>
		</div>
	</div>


</div>
<modal-confirm></modal-confirm>
