



table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 10px;
}
tr:nth-child(even){background-color: #f2f2f2}
th {
    background-color: #4CAF50;
    color: white;
    border-right: 1px solid #ddd;
    
}










/* this targets the default scrollbar (compulsory) */



/* the new scrollbar will have a flat appearance with the set background color */



/* this will style the thumb, ignoring the track */



/* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

