HOME            = .
RANDFILE        = $ENV::HOME/.rnd

####################################################################
[ ca ]
default_ca  = CA_default        # The default ca section

[ CA_default ]

default_days    = 2920          # how long to certify for
default_md  = sha256       # use public key default MD
preserve    = no            # keep passed DN ordering

x509_extensions = ca_extensions     # The extensions to add to the cert

email_in_dn = no            # Don't concat the email in the DN
copy_extensions = copy          # Required to copy SANs from CSR to cert

base_dir    = .
certificate = $base_dir/rootca.cert  # The CA certifcate
private_key = $base_dir/rootca.key   # The CA private key
new_certs_dir   = $base_dir     # Location for new certs after signing
database    = $base_dir/index.txt   # Database index file
serial      = $base_dir/serial.txt  # The current serial number

unique_subject  = no            # Set to 'no' to allow creation of
                # several certificates with same subject.

####################################################################
[ req ]
default_bits        = 2048
default_keyfile     = rootca.key
distinguished_name  = ca_distinguished_name
x509_extensions     = ca_extensions
string_mask         = utf8only

####################################################################
[ ca_distinguished_name ]
countryName         = Country Name (2 letter code)
countryName_default     = DE

organizationName         = Organization Name (eg, company)
organizationName_default    = Company

commonName          = Common Name (e.g. server FQDN or YOUR name)
commonName_default      = Test Root CA 2016

####################################################################
[ ca_extensions ]

subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always, issuer
basicConstraints = critical, CA:true
keyUsage = nonRepudiation, keyCertSign, cRLSign
#crlDistributionPoints=URI:http://crl.aisec.fraunhofer.de/ids.crl

####################################################################
[ signing_policy ]
countryName     = optional
stateOrProvinceName = optional
localityName        = optional
organizationName    = optional
organizationalUnitName  = optional
commonName      = supplied
emailAddress        = optional

####################################################################
[ signing_req_CA ]
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid
basicConstraints = critical, CA:true
keyUsage = digitalSignature, keyCertSign, cRLSign
#crlDistributionPoints=URI:http://crl.aisec.fraunhofer.de/ids.crl
#authorityInfoAccess=caIssuers;URI:http://downloads.aisec.fraunhofer.de/rootcacert2016.cert
