HOME            = .
RANDFILE        = $ENV::HOME/.rnd

####################################################################
[ req ]
default_bits        = 2048
#default_keyfile     = connector.key
distinguished_name  = connector_distinguished_name
req_extensions      = connector_req_extensions
string_mask         = utf8only

####################################################################
[ connector_distinguished_name ]
countryName         = Country Name (2 letter code)
countryName_default     = DE

stateOrProvinceName     = State or Province Name (full name)
stateOrProvinceName_default = Bayern

localityName            = Locality Name (eg, city)
localityName_default        = Muenchen

organizationName         = Organization Name (eg, company)
organizationName_default    = Fraunhofer

organizationalUnitName	= Organizational Unit Name (department, division)
organizationalUnitName_default 	= AISEC

commonName          = Common Name (e.g. server FQDN or YOUR name)
commonName_default      = AISEC IDS Server

emailAddress            = Email Address
emailAddress_default        = ids@aisec.fraunhofer.de


####################################################################
[ connector_req_extensions ]

subjectKeyIdentifier        = hash
basicConstraints        = CA:FALSE
keyUsage            = digitalSignature, keyEncipherment, nonRepudiation
extendedKeyUsage	= clientAuth, serverAuth
#securityProfile = ASN1:UTF8:IDS Security Profile Specification
#subjectAltName 		= URI:UUID:%%DEVICE_UUID%%
subjectAltName          = @alternate_names

[ alternate_names ]

DNS.1       = localhost
DNS.2       = 127.0.0.1
DNS.3       = idsconnector.aisec.fraunhofer.de



