HOME            = .
RANDFILE        = $ENV::HOME/.rnd

####################################################################
[ ca ]
default_ca  = CA_default        # The default ca section

[ CA_default ]

default_days    = 730          # how long to certify for
default_md  = sha256       # use public key default MD
preserve    = no            # keep passed DN ordering

x509_extensions = ca_extensions     # The extensions to add to the cert

email_in_dn = no            # Don't concat the email in the DN
copy_extensions = copy          # Required to copy SANs from CSR to cert

base_dir    = .
certificate = $base_dir/test_ca_certs/subca.cert  # The CA certifcate
private_key = $base_dir/test_ca_certs/subca.key   # The CA private key
new_certs_dir   = $base_dir     # Location for new certs after signing
database    = $base_dir/test_ca_certs/index.txt   # Database index file
serial      = $base_dir/test_ca_certs/serial.txt  # The current serial number

unique_subject  = no            # Set to 'no' to allow creation of
                # several certificates with same subject.

####################################################################
[ req ]
default_bits        = 4096
default_keyfile     = test_ca_certs/subca.key
distinguished_name  = ca_distinguished_name
req_extensions     = ca_extensions
string_mask         = utf8only

####################################################################
[ ca_distinguished_name ]
countryName         = Country Name (2 letter code)
countryName_default     = DE

organizationName         = Organization Name (eg, company)
organizationName_default    = Fraunhofer

commonName          = Common Name (e.g. server FQDN or YOUR name)
commonName_default      = IDS SubCA 2016

####################################################################
[ ca_extensions ]

subjectKeyIdentifier=hash
#authorityKeyIdentifier=keyid:always, issuer
basicConstraints = critical, CA:true
keyUsage = digitalSignature, keyCertSign, cRLSign
crlDistributionPoints=URI.0:http://crl.aisec.fraunhofer.de/ids.crl
authorityInfoAccess=caIssuers;URI.1=http://downloads.aisec.fraunhofer.de/rootcacert2016.cert

####################################################################
[ signing_policy ]
countryName     = optional
stateOrProvinceName = optional
localityName        = optional
organizationName    = optional
organizationalUnitName  = optional
commonName      = supplied
emailAddress = optional

####################################################################
[ signing_req ]
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid,issuer

basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment
crlDistributionPoints=URI.0:http://crl.aisec.fraunhofer.de/ids.crl
authorityInfoAccess=caIssuers;URI.1=http://downloads.aisec.fraunhofer.de/rootcacert2016.cert
