body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

text {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  pointer-events: none;
}

.c3-ygrid-line text {
  font-size: 14px;
}

.c3 .tick text {
  font-size: 12px;
}

i.connect-icons {
  padding-left: 5px;
  padding-right: 5px;
}

.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
  background: #209e91;
}

.card-good > .mdl-card__title,
.card-good > .mdl-card__actions {
  background: rgb(115, 191, 0);
}

.card-warn > .mdl-card__title,
.card-warn > .mdl-card__actions {
  background: rgb(255, 191, 0);
}

.card-error > .mdl-card__title,
.card-error > .mdl-card__actions {
  background: rgb(145, 0, 0);
}

.card-overview.mdl-card {
  width: 100%;
}

.card-overview > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}

.card-overview > .mdl-card__title {
  align-items: flex-start;
}

.card-overview > .mdl-card__title > h4 {
  margin-top: 0;
}
.card-overview > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.card-overview > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}

.card-overview > .mdl-card__actions,
.card-overview > .mdl-card__actions > .mdl-button {
  color: #fff;
}

.test-results-card .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.test-results-card .mdl-card__supporting-text {
  width: auto;
}

.workflow-card .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.workflow-card .mdl-card__supporting-text {
  width: 98%;
}

.test-case-card .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.test-case-card .mdl-card__supporting-text {
  width: 98%;
}

.test-policy-card .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.test-policy-card .mdl-card__supporting-text {
  width: 98%;
}

.test-case-parameter ul {
  margin-top: 5px;
}

.test-overview-heatmap-test {
  min-width: 180px;
}

.test-overview-heatmap-test a {
  font-weight: bold;
  color: rgb(117, 117, 117);
  text-decoration: none;
}

.iot-connector-drawer {
  border: none;
  box-shadow: none;
}
/* iOS Safari specific workaround */
.iot-connector-drawer .mdl-menu__container {
  z-index: -1;
}
.iot-connector-drawer .iot-connector-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.iot-connector-drawer .mdl-menu .mdl-menu__item {
  display: flex;
  align-items: center;
}
.iot-connector-drawer-header {
  box-sizing: border-box;
  flex-direction: column;
  background-color: #1C2B36;
  text-align: center;
}
.iot-connector-avatar {
  width: 225px;
  margin: 0 auto;
  padding: 5px 0px 5px 0px;
}
.iot-connector-product-title {
  color: #209e91;
}

.iot-connector-aisec-logo {
  height: 45px;
}

.iot-connector-layout .iot-connector-header .mdl-textfield {
  padding: 0px;
  margin-top: 41px;
}
.iot-connector-layout .iot-connector-header .mdl-textfield .mdl-textfield__expandable-holder {
  bottom: 19px;
}

header.iot-connector-header.mdl-layout__header {
  background-color: #1C2B36;
}

.iot-connector-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}

@media screen and (max-width:1025px) {
  .iot-connector-layout .mdl-layout__header-row {
    padding-left: 52px !important;
  }
}

@media screen and (min-width:1025px) {
  .iot-connector-layout .mdl-layout__header-row {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

.mdl-layout__drawer {
  width: 240px;
}

.iot-connector-avatar-dropdown {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.iot-connector-navigation {
  flex-grow: 1;
  background-color: #1C2B36;
}
.iot-connector-layout .iot-connector-navigation .mdl-navigation__link {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  color: #ffffff;
  font-weight: 500;
}
.iot-connector-layout .iot-connector-navigation .mdl-navigation__link:hover {
  background-color: #209e91;
  color: #fff;
}
.iot-connector-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  margin-right: 32px;
}

.workflow-fsm {
  text-align: center
}

.workflow-fsm .node text {
  fill: white;
}

.workflow-fsm ellipse {
  stroke: none;
  fill: rgb(184, 192, 192);
}

#cal-heatmap {
  float: right;
}

.network line {
  stroke: rgb(184, 192, 192);
}

.network text {
  fill: white;
  pointer-events: none;
  font-size: 12pt;
}

.network rect {
  fill: rgb(184, 192, 192);
}

.network .node.good rect {
  fill: rgb(115, 191, 0);
}

.network .node.warn rect {
  fill: rgb(255, 191, 0);
}

.network .node.error rect {
  fill: rgb(145, 0, 0);
}

.network .node.selected rect {
  stroke: #555555;
  stroke-width: 2px;
}

.score {
  font-size: 60pt;
  min-height: 140px;
  text-align: center;
  line-height: 140px;
  margin-top: 10px;
}

.score.good {
  background: rgb(115, 191, 0);
  color: white;
}

.score.warn {
  background: rgb(255, 191, 0);
  color: white;
}

.score.error {
  background: rgb(145, 0, 0);
  color: white;
}
