/* Buttons in selected rows of data tables */
tr:hover .btn-default {
	color: #000000;
	border-color: #000000;
}
.open > .dropdown-toggle.btn-default {
	color: #000000;
	border-color: #000000;
}
.btn-default:hover {
	color: #000000;
}
.btn-default:focus {
	color: #000000;
}