body {
	background: #444;
}

code {
	color: #eff0ba;
	border: 1px dashed #eff0ba;
	background-color: #43423a;
}

/*rgba(255, 255, 255, .05)*/
.btn-default:active {
	background-color: #222!important;
	border-color: #333!important;
}

/*rgba(255, 255, 255, .1)*/
.form-control, 
.dropdown, 
.nav>li>a:hover, 
.nav>li>a:focus, 
.nav .open>a, .nav .open>a:hover, 
.nav .open>a:focus, 
.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default,
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] 
.btn-default.active, 
.panel-default .panel-heading, 
.panel-footer,
.widget-left,
.nav-tabs,
.nav-tabs li a:hover,
.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-pills li.active a,
.nav-pills li.active a:hover,
.sidebar ul.nav li.divider,
.sidebar .attribution,
.fixed-table-container thead th {
	background-color: #2c2c2c!important;
	border-color: #3f3f3f!important;
}

.sidebar form,
.chat ul li {
	border-color: #3f3f3f!important;
}

/*rgba(255, 255, 255, .2)*/
.form-control:focus, 
.btn-default:hover,
.panel-blue .panel-heading,
.panel-teal .panel-heading,
.panel-orange .panel-heading,
.panel-red .panel-heading,
.sidebar ul.nav a:hover, 
.sidebar ul.nav li.parent ul li a:hover,
.breadcrumb {
	background-color: #464646!important;
	border-color: #6b6b6b!important;
}

/*rgba(255, 255, 255, .9)*/
.dropdown-messages, 
.dropdown-alerts {
	background-color: #fff!important;
}

/*rgba(0, 0, 0, .25)*/
.sidebar ul.nav .active a, .sidebar ul.nav li.parent a.active,
.sidebar ul.nav .active > a:hover, .sidebar ul.nav li.parent a.active:hover,
.sidebar ul.nav .active > a:focus, .sidebar ul.nav li.parent a.active:focus,
.sidebar ul.nav ul.children,
.sidebar ul.nav li.current a {
	background-color: #171917;
}

/*rgba(0, 0, 0, .5)*/
.sidebar {
	background-color: #212221!important;
}

/*rgba(0, 0, 0, .65)*/
.panel-widget, .jumbotron {
	background-color: #161716!important;
}

/*rgba(0, 0, 0, .75)*/
.navbar {
	background-color: #101110!important;
}