<h3>Edit "{{configuration.name}}"</h3>
<center>
<div>
	<div class="divTableBody">
		<div class="divTableRow">
			<div class="divTableCell" style="width: 30px;">id:{{configuration.id}}</div>
			<div class="divTableCell"><input type="text" size="32" ng-model="configuration.name"></div>
			<div class="divTableCell"><select name="type" ng-options="option for option in types" ng-model="configuration.type"></select></div>
		</div>
	</div>
</div>
<h3>PCR values: </h3>
<div>
	<div class="divTableBody">
		<div class="divTableRow" ng-repeat="pcr in configuration.values | orderBy : order">
			<div class="divTableCell" style="width: 30px;">order:{{pcr.order}}</div>
			<div class="divTableCell" style="width: 90px;"><input type="text" size="64" maxlength="64" ng-model="pcr.value"></div>
		</div>
	</div>
</div>
</center>