<h2>List of all known configurations</h2>
<center>
<div class="divTable">
	<div class="divTableBody">
		<div class="divTableRow" ng-repeat="configuration in configurations">
			<div class="divTableCell" style="width: 30px;">{{configuration.id}}</div>
			<div class="divTableCell">{{configuration.name}}</div>
			<div class="divTableCell">{{configuration.type}}</div>
			<div class="divTableCell" style="width: 30px;"><a href="/admin/#/edit/{{configuration.id}}">edit</a></div>
			<div class="divTableCell" style="width: 30px;"><a href="" ng-click="deleteConfig(configuration.id)">delete</a></div>
		</div>
	</div>
</div>
<div>
&nbsp;<br />
<button>add a new configuration</button>
</div>
</center>