<!-- Status cards -->
<div class="mdl-grid">
  <div class="test-case-card mdl-card mdl-cell mdl-cell--6-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Installed Apps</h2>
    </div>
    <div class="mdl-card__supporting-text">

  	</div>
  </div>

  <div class="test-case-card mdl-card mdl-cell mdl-cell--6-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Data Flow Policies</h2>
    </div>
    <div class="mdl-card__supporting-text">
    </div>
  </div>
</div>
