<!-- Status cards -->
<div class="mdl-grid">
	<div class="mdl-card card-dark mdl-cell mdl-cell--12-col">
		<div class="mdl-card__title">
			<h2 class="mdl-card__title-text">Create new User</h2>
		</div>
    <div class="mdl-card__supporting-text">


      <form [formGroup]="userForm" novalidate (ngSubmit)="save(userForm.value)" class="mdl-cell--12-col mdl-grid">
        <div class="mdl-cell--12-col">
          <div mdl-textfield class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder mdl-cell--12-col form-group">
            <label class="mdl-textfield__label" for="username">User Name*</label>
            <input class="mdl-textfield__input" id="username" type="text" formControlName="username">
            <span [hidden]="userForm.controls.username.valid || !userForm.controls.username.dirty" class="mdl-textfield__error">User name is required.</span>
          </div>
        </div>
        <div class="mdl-cell--12-col">
          <div mdl-textfield class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder mdl-cell--12-col form-group">
            <label class="mdl-textfield__label" for="password">Password*</label>
            <input class="mdl-textfield__input" id="password" type="password" formControlName="password" required minlength="4" password>
            <span [hidden]="userForm.controls.password.valid || (userForm.controls.password.pristine)" class="mdl-textfield__error">Password is required.</span>
          </div>
        </div>
        <div class="mdl-cell--12-col" style="margin-top:20px">
          <button type="submit" class="mdl-button mdl-color--accent mdl-button--raised">Create User</button>
        </div>
      </form>
    </div>
	</div>
</div>
