<ul class="mdl-list">
    <li class="mdl-list__item mdl-list__item--three-line" *ngFor="let user of users; trackBy: trackUsers">
        <span class="mdl-list__item-primary-content">
            <icon class="material-icons mdl-list__item-avatar">person</icon>
            <span>{{ user.username }}</span>
            <span class="mdl-list__item-text-body">
            {{ user.username }}
            </span>
        </span>
            <span class="mdl-list__item-secondary-content" style="text-align:right">
                <a class="mdl-list__item-secondary-action mdl-color-text--grey-600" (click)="onDelete(user.username)">
                    <icon class="material-icons">delete</icon>
                </a>
        </span>
    </li>
</ul>
