<ul class="mdl-list">
  <li class="mdl-list__item mdl-list__item--three-line" *ngFor="let user of users; trackBy: trackCerts">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">person</i>
      <span>{{ user.name }}</span>
      <span class="mdl-list__item-text-body">
        {{ user.name }}
      </span>
    </span>
    <span class="mdl-list__item-secondary-content" style="text-align:right">
      <a class="mdl-list__item-secondary-action mdl-color-text--grey-600" (click)="onDelete(user.alias)">
        <i class="material-icons">delete</i>
      </a>
    </span>
  </li>
</ul>
