.primary-color {
  color: $primary-color;
}

.secondary-color {
  color: $secondary-color;
}

.colored-text {
  color: $colored-text-color;
}

.highlight-color {
  color: $highlight-color;
}

.primary-background {
  background-color: $primary-color;
}

.secondary-background {
  background-color: $secondary-color;
}

.highlight-background {
  background-color: $highlight-color;
}
