
pre {
  padding: 1.25rem;
  background: rgba(240, 240, 240, 0.8);
  margin-bottom: 1.5625rem;
}

.table-of-contents {
  min-width: 124px;
}

.doc-footer .doc-links li i {
  vertical-align: middle;
}
