body > header, body > main, body > footer {
  padding-left: 240px;
}

@media #{$medium-and-down} {
  body > header, body > main, body > footer {
    padding-left: 0;
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

@media #{$large-and-up} {
  .container {
      width: 85%;
  }
}

a.button-collapse.top-nav {
  position:absolute;
  text-align:center;
  top:0;
  float:none;
  margin-left:1.5rem;
  color:#fff;
  font-size:32px;
  z-index:2;
}
@media #{$small-and-down}{a.button-collapse.top-nav{left:5%;}}
@media #{$medium-and-down}{nav .nav-wrapper{text-align:center;}}

ul.side-nav.fixed li.logo {
  text-align:center;
  margin-top:32px;
  margin-bottom:32px;
}

ul.side-nav.fixed li.logo:hover {
  background-color:transparent;
}

ul.side-nav.fixed {
  overflow:hidden;
}

ul.side-nav.fixed li:hover, ul.side-nav.fixed li:active, ul.side-nav.fixed li.active {
  background-color: rgba(0,0,0,0.05);
}

ul.side-nav.fixed ul.collapsible-accordion {
  background-color: #fff;
}

i.fa.left, i.fa.right {
  float: none !important;
}

.tooltip {
  font-size: 10px;
  padding: 8px;
  color: white;
  background-color: rgba(0,0,0,0.8);
  box-sizing: border-box;
  border-radius: 3px;
  /* TODO: not in spec.; */
  white-space: nowrap;
  line-height: 6px;
  z-index: 1002;
  /* TODO: this is brittle.; */
  -webkit-user-select: none;
  user-select: none;
}
