<div class="mdl-grid">

  <div class="card-dark mdl-card mdl-cell mdl-cell--12-col  mdl-shadow--2dp">
        <div class="mdl-card__title">
             <h2 class="mdl-card__title-text">Aspects</h2>
        </div>
        <div class="selectEndpoint">
                
               <select placeholder="State" floatPlaceholder="auto" (change)="onChange($event)">
                <option *ngFor="let mod of models" [value]="mod.connection" [selected]=' mod.connection === model.connection' >{{ mod.connection }}</option>
               </select>
               <button type="submit" class="mdl-button mdl-js-button mdl-button--raised" (click)="save()">Save	Settings</button>
             
        </div>
        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    <tr>
                        <td width="25%"><p>Integrity protection and verification</p></td>
                        <td width="75%">
                           <form class="form">
                                <div class="switch-field">
                                    <input class="switch-button" 
                                           type="radio" id="switch_1_left" 
                                           [(ngModel)]="model.settings.integrityProtectionandVerification" 
                                           name="integrityProtectionandVerification" 
                                           [value]='"1"'  
                                           [checked]="model.settings.integrityProtectionandVerification === '1'" />
                                    <label for="switch_1_left">None</label>
                                    <input class="switch-button" 
                                           type="radio" 
                                           id="switch_1_center" 
                                           [(ngModel)]="model.settings.integrityProtectionandVerification" 
                                           name="integrityProtectionandVerification" 
                                           [value]='"2"' 
                                           [checked]="model.settings.integrityProtectionandVerification === '2'"/>
                                    <label for="switch_1_center">Local Integrity Protection</label>
                                    <input class="switch-button" 
                                           type="radio" 
                                           id="switch_1_right" 
                                           [(ngModel)]="model.settings.integrityProtectionandVerification" 
                                           name="integrityProtectionandVerification" 
                                           [value]='"3"' 
                                           [checked]="model.settings.integrityProtectionandVerification === '3'"/>
                                    <label for="switch_1_right">Remote integrity verification</label>
                                </div>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td width="25%"><p>Authentication</p></td>
                        <td width="75%">
                           <form class="form">
                                <div class="switch-field">
                                    <input class="switch-button" 
                                           type="radio" id="switch_2_left" 
                                           [(ngModel)]="model.settings.authentication" 
                                           name="authentication" 
                                           [value]='"1"'  
                                           [checked]="model.settings.authentication === '1'" />
                                    <label for="switch_2_left">None</label>
                                    <input class="switch-button" 
                                           type="radio" id="switch_2_center" 
                                           [(ngModel)]="model.settings.authentication" 
                                           name="authentication" 
                                           [value]='"2"'  
                                           [checked]="model.settings.authentication === '2'"  />
                                    <label for="switch_2_center">Server side only authentication</label>
                                    <input class="switch-button" 
                                           type="radio" id="switch_2_right" 
                                           [(ngModel)]="model.settings.authentication" 
                                           name="authentication" 
                                           [value]='"3"'  
                                           [checked]="model.settings.authentication === '3'"  />
                                    <label for="switch_2_right">Mutual Authentication</label>
                                </div>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td width="25%"><p>Service Isolation<p></td>
                        <td width="75%">
                           <form class="form">
                                <div class="switch-field">
                                    <input class="switch-button" 
                                           type="radio" id="switch_3_left" 
                                           [(ngModel)]="model.settings.serviceIsolation" 
                                           name="serviceIsolation" 
                                           [value]='"1"'  
                                           [checked]="model.settings.serviceIsolation === '1'"/>
                                    <label for="switch_3_left">None</label>
                                    <input class="switch-button" 
                                           type="radio" id="switch_3_center" 
                                           [(ngModel)]="model.settings.serviceIsolation" 
                                           name="serviceIsolation" 
                                           [value]='"2"'  
                                           [checked]="model.settings.serviceIsolation === '2'" />
                                    <label for="switch_3_center">Process group isolation</label>
                                    <input class="switch-button" 
                                           type="radio" id="switch_3_right" 
                                           [(ngModel)]="model.settings.serviceIsolation" 
                                           name="serviceIsolation" 
                                           [value]='"3"'  
                                           [checked]="model.settings.serviceIsolation === '3'" />
                                    <label for="switch_3_right">Least privilege based isolation</label>
                                </div>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td width="25%"><p>Integrity protection / Verification Scope</p></td>
                        <td width="75%">
                           <form class="form">
                                <div class="switch-field">
                                    <input class="switch-button" 
                                           type="radio" id="switch_4_left" 
                                           [(ngModel)]="model.settings.integrityProtectionVerificationScope"  
                                           name="integrityProtectionVerificationScope" 
                                           [value]='"1"'  
                                           [checked]="model.settings.integrityProtectionVerificationScope === '1'"/>
                                    <label for="switch_4_left">None</label>
                                    <input class="switch-button" 
                                           type="radio" id="switch_4_center" 
                                           [(ngModel)]="model.settings.integrityProtectionVerificationScope" 
                                           name="integrityProtectionVerificationScope"  
                                           [value]='"2"' 
                                           [checked]="model.settings.integrityProtectionVerificationScope === '2'" />
                                    <label for="switch_4_center">Kernel & core containers</label>
                                    <input class="switch-button" 
                                           type="radio" id="switch_4_right" 
                                           [(ngModel)]="model.settings.integrityProtectionVerificationScope" 
                                           name="integrityProtectionVerificationScope" 
                                           [value]='"3"'  
                                           [checked]="model.settings.integrityProtectionVerificationScope === '3'" />
                                    <label for="switch_4_right">Kernel & core & Application containers</label>
                                </div>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td width="25%"><p>App Execution resources</p></td>
                        <td width="75%">
                           <form class="form">
                                <div class="switch-field">
                                    <input class="switch-button" 
                                           type="radio" id="switch_5_left" 
                                           [(ngModel)]="model.settings.appExecutionResources"  
                                           name="appExecutionResources" 
                                           [value]='"1"'  
                                           [checked]="model.settings.appExecutionResources === '1'"/>
                                    <label for="switch_5_left">None</label>
                                    <input class="switch-button" 
                                           type="radio" id="switch_5_center" 
                                           [(ngModel)]="model.settings.appExecutionResources"  
                                           name="appExecutionResources" 
                                           [value]='"2"'  
                                           [checked]="model.settings.appExecutionResources === '2'" />
                                    <label for="switch_5_center">Local enforcement</label>
                                    <input class="switch-button" 
                                           type="radio" id="switch_5_right" 
                                           [(ngModel)]="model.settings.appExecutionResources" 
                                           name="appExecutionResources" 
                                           [value]='"3"'  
                                           [checked]="model.settings.appExecutionResources === '3'" />
                                    <label for="switch_5_right">Remote verification</label>
                                </div>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td width="25%"><p>Data usage control support</p></td>
                        <td width="75%">
                           <form class="form">
                                <div class="switch-field">
                                    <input class="switch-button" 
                                           type="radio" id="switch_6_left" 
                                           [(ngModel)]="model.settings.dataUsageControlSupport"  
                                           name="dataUsageControlSupport" 
                                           [value]='"1"'  
                                           [checked]="model.settings.dataUsageControlSupport === '1'"/>
                                    <label for="switch_6_left">None</label>
                                    <input class="switch-button" 
                                           type="radio" id="switch_6_center" 
                                           [(ngModel)]="model.settings.dataUsageControlSupport"  
                                           name="dataUsageControlSupport" 
                                           [value]='"2"'  
                                           [checked]="model.settings.dataUsageControlSupport === '2'" />
                                    <label for="switch_6_center">Usage control policy enforcement</label>
                                    <input class="switch-button" 
                                           type="radio" id="switch_6_right" 
                                           [(ngModel)]="model.settings.dataUsageControlSupport" 
                                           name="dataUsageControlSupport" 
                                           [value]='"3"'  
                                           [checked]="model.settings.dataUsageControlSupport === '3'" />
                                    <label for="switch_6_right">Remote policy compliance verification</label>
                                </div>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td width="20%"><p>Audit logging</p></td>
                        <td width="80%">
                           <form class="form">
                                <div class="switch-field">
                                    <input class="switch-button" 
                                           type="radio" id="switch_7_left" 
                                           [(ngModel)]="model.settings.auditLogging" 
                                           name="auditLogging" 
                                           [value]='"1"'  
                                           [checked]="model.settings.auditLogging === '1'"/>
                                    <label for="switch_7_left">None</label>
                                    <input class="switch-button" type="radio" id="switch_7_center" 
                                           [(ngModel)]="model.settings.auditLogging" 
                                           name="auditLogging" 
                                           [value]='"2"'  
                                           [checked]="model.settings.auditLogging === '2'" />
                                    <label for="switch_7_center">Local logging capabilities & integrity protection</label>
                                    <input class="switch-button" 
                                           type="radio" id="switch_7_right" 
                                           [(ngModel)]="model.settings.auditLogging" 
                                           name="auditLogging" 
                                           [value]='"3"'  
                                           [checked]="model.settings.auditLogging === '3'" />
                                    <label for="switch_7_right">Remote audit log tracing</label>
                                </div>
                            </form>
                        </td>
                    </tr>
                     <tr>
                        <td width="25%"><p>Local Data confidentiality</p></td>
                        <td width="75%">
                           <form class="form">
                                <div class="switch-field">
                                    <input class="switch-button" 
                                           type="radio" id="switch_8_left" 
                                           [(ngModel)]="model.settings.localDataConfidentiality"  
                                           name="localDataConfidentiality" 
                                           [value]='"1"'  
                                           [checked]="model.settings.localDataConfidentiality === '1'"/>
                                    <label for="switch_8_left">None</label>
                                    <input class="switch-button" 
                                           type="radio" id="switch_8_center" 
                                           [(ngModel)]="model.settings.localDataConfidentiality" 
                                           name="localDataConfidentiality" 
                                           [value]='"2"'  
                                           [checked]="model.settings.localDataConfidentiality === '2'" />
                                    <label for="switch_8_center">Secure data erasure</label>
                                    <input class="switch-button" 
                                           type="radio" id="switch_8_right" 
                                           [(ngModel)]="model.settings.localDataConfidentiality" 
                                           name="localDataConfidentiality" 
                                           [value]='"3"'  
                                           [checked]="model.settings.localDataConfidentiality === '3'"/>
                                    <label for="switch_8_right">Local full data enryption</label>
                                </div>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>