<div class="mdl-grid">
  <div class="test-case-card mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Key Certificates</h2>
    </div>
    <div class="mdl-card__supporting-text ">
      <div class="w3-container">
        <h2>List of all Key Certificates</h2>
        <p>To remove the list items, click on the "x":</p>
        <ul class="w3-ul w3-card-4">
          <li>Key 1 <span onclick="this.parentElement.style.display='none'" class="w3-closebtn w3-margin-right w3-medium">&times;</span></li>
          <li>Key 2 <span onclick="this.parentElement.style.display='none'" class="w3-closebtn w3-margin-right w3-medium">&times;</span></li>
          <li>Key 3 <span onclick="this.parentElement.style.display='none'" class="w3-closebtn w3-margin-right w3-medium">&times;</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
