<div class="mdl-grid">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Settings</h2>
    </div>
    <div class="mdl-card__supporting-text ">

		<!-- <form #f="ngForm" (ngSubmit)="onSubmitTemplateBased()"> -->

		<form action="#" >

		<div class="mdl-cell--12-col">
		  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--6-col">
		    <input class="mdl-textfield__input" type="text" id="ids.broker.url"  pattern="ids://.*" >
		    <label class="mdl-textfield__label" for="ids.broker.url">Broker URL</label>
		    <span class="mdl-textfield__error">URL must start with ids://</span>
		  </div>
		</div>

		</form>

    </div>
  </div>
</div>
