<div class="mdl-grid">
	<div class="mdl-card card-dark mdl-cell mdl-cell--12-col">
		<div class="mdl-card__title">
			<h2 class="mdl-card__title-text">Settings</h2>
		</div>
		<div class="mdl-card__supporting-text mdl-cell--12-col mdl-grid" *ngIf="myForm">
			<form [formGroup]="myForm" (ngSubmit)="save(myForm.value, myForm.valid)" class="mdl-cell--12-col mdl-grid">
				<div class="mdl-cell--12-col">
					<div mdl-textfield class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col form-group"
					[ngClass]="{'is-invalid': !myForm.controls.brokerUrl.valid && myForm.controls.brokerUrl.dirty}">
						<input class="mdl-textfield__input" id="brokerUrl"	type="URL" formControlName="brokerUrl"
						required minlength="5">
						<label class="mdl-textfield__label" for="brokerUrl">Broker	URL</label>
						<span class="mdl-textfield__error"> Valid Broker URL required </span>
					</div>
				</div>
				<div class="mdl-cell--8-col">
					<div mdl-textfield class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col form-group"
					[ngClass]="{'is-invalid': !myForm.controls.ttpHost.valid && myForm.controls.ttpHost.dirty}">
						<input type="text" class="mdl-textfield__input" id="ttpHost" formControlName="ttpHost"
						required minlength="5">
						<label class="mdl-textfield__label" for="ttpHost">Host of Remote Attestation Repository</label>
						<span class="mdl-textfield__error"> Valid URL required </span>
					</div>
				</div>
				<div class="mdl-cell--4-col">
					<div mdl-textfield class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col form-group"
					[ngClass]="{'is-invalid': !myForm.controls.ttpPort.valid && myForm.controls.ttpPort.dirty}">
						<input type="number" class="mdl-textfield__input" id="ttpPort" formControlName="ttpPort"
						required min="1" max="65535">
						<label class="mdl-textfield__label" for="ttpPort">Port of Remote Attestation Repository</label>
						<span class="mdl-textfield__error"> Valid Port required </span>
					</div>
				</div>
				<div class="mdl-cell--12-col">
					<div mdl-textfield class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col form-group"
					[ngClass]="{'is-invalid': !myForm.controls.acmeServerWebcon.valid && myForm.controls.acmeServerWebcon.dirty}">
						<input class="mdl-textfield__input" id="acmeServerWebcon" type="URL" formControlName="acmeServerWebcon"
						required minlength="5">
						<label class="mdl-textfield__label" for="acmeServerWebcon">ACME Server URL (Web Console)</label>
						<span class="mdl-textfield__error"> Valid ACME Server URL required </span>
					</div>
				</div>
				<div class="mdl-cell--8-col">
					<div mdl-textfield class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col form-group"
					[ngClass]="{'is-invalid': !myForm.controls.acmeDnsWebcon.valid && myForm.controls.acmeDnsWebcon.dirty}">
						<input type="text" class="mdl-textfield__input" id="acmeDnsWebcon" formControlName="acmeDnsWebcon"
						required minlength="5">
						<label class="mdl-textfield__label" for="acmeDnsWebcon">ACME Challenge Domain (Web Console)</label>
						<span class="mdl-textfield__error"> Valid URL required </span>
					</div>
				</div>
				<div class="mdl-cell--4-col">
					<div mdl-textfield class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col form-group"
					[ngClass]="{'is-invalid': !myForm.controls.acmePortWebcon.valid && myForm.controls.acmePortWebcon.dirty}">
						<input type="number" class="mdl-textfield__input" id="acmePortWebcon" formControlName="acmePortWebcon"
						required min="1" max="65535">
						<label class="mdl-textfield__label" for="acmePortWebcon">ACME Challenge Port (Web Console)</label>
						<span class="mdl-textfield__error"> Valid Port required </span>
					</div>
				</div>
				<div class="mdl-cell--12-col">
					<button type="submit" class="mdl-button mdl-js-button mdl-button--raised" [ngClass]="{'mdl-button--colored': !saved}">Save Settings</button>
				</div>
			</form>
		</div>
	</div>
</div>
