<div class="mdl-layout__container">
  <!-- Drawer stays open on larger screens (fixed drawer). -->
  <div class="iot-connector-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="iot-connector-header mdl-layout__header mdl-layout__header--seamed">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title iot-connector-product-title">Connector </span><span class="mdl-layout-title">
          Console > {{ title }}</span>
        <div class="mdl-layout-spacer"></div>
        <a class="mdl-color-text--grey-100" *ngIf="isLoggedIn" (click)="logout()" href="#">Log out</a>
        <!--<div class=" mdl-textfield mdl-js-textfield mdl-textfield--expandable">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
          <icon class="material-icons">search</icon>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" id="search">
          <label class="mdl-textfield__label" for="search">Enter your query...</label>
        </div>
      </div>
      -->

      </div>
    </header>
    <div class="iot-connector-drawer mdl-layout__drawer">
      <header class="iot-connector-drawer-header">
        <img class="iot-connector-aisec-logo" src="images/aisec.png" />
      </header>
      <nav class="iot-connector-navigation mdl-navigation">
        <a class="mdl-navigation__link" routerLink="/dashboard"><icon class="material-icons" role="presentation">home</icon>
          Overview</a>
        <a class="mdl-navigation__link" routerLink="/apps"><icon class="fas fa-cube material-icons"></icon> Apps</a>

        <a class="mdl-navigation__link" routerLink="/routes"><icon class="material-icons"
            role="presentation">call_split</icon>
          Message Routes</a>
        <a class="mdl-navigation__link" routerLink="/dataflowpolicies"><icon
            class="fas fa-code-branch material-icons"></icon>
          Data Flow Control</a>
        <a class="mdl-navigation__link" routerLink="/connections"><icon class="fas fa-exchange-alt material-icons"></icon>
          Connections</a>
        <a class="mdl-navigation__link" routerLink="/connectionconfiguration"><icon class="material-icons"
            role="presentation">security</icon>
          Security Requirements</a>
        <a class="mdl-navigation__link" routerLink="/certificates"><icon class="material-icons"
            role="presentation">fingerprint</icon>
          Certificates</a>
        <a class="mdl-navigation__link" routerLink="/ids"><icon class="material-icons" role="presentation">settings</icon>
          Settings</a>
        <a class="mdl-navigation__link" routerLink="/users"><icon class="material-icons" role="presentation">person</icon>
          Users</a>
      </nav>
    </div>
    <main class="mdl-layout__content mdl-color--grey-100 mdl-color-text--grey-600">
      <div class="page-content">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
