---
# Main stylesheets for site.
---
@charset "UTF-8";

// Variables;
@import "components/globalVars";

$primary-color: {{ site.palette.primary }};
$secondary-color: {{ site.palette.secondary }};
$colored-text-color: {{ site.palette.colored_text }};
$highlight-color: {{ site.palette.highlight }};

@import "colors";
@import "site";
@import "post";
@import "home";

a {color: {{site.palette.colored_text}} };

.post-content > ul {
  padding-left: 30px;
  margin-top: 10px;
  margin-bottom: 15px;
};

.post-content > ul li {
  list-style-type: initial;
};

pre {
	overflow-wrap: break-word;
	overflow-x: auto;
	word-break: break-all;
    word-wrap: break-word;
}
pre code {
	overflow-wrap: break-word;
	overflow-x: auto;
	word-break: break-all;
    white-space: pre-wrap;
}