<!-- Status cards -->
<div class="mdl-grid">
	<div class="mdl-card card-dark mdl-cell mdl-cell--12-col">
		<div class="mdl-card__title">
			<h2 class="mdl-card__title-text">Create Data Usage Control Policy</h2>
		</div>		
		<div class="mdl-card__supporting-text">
	
		<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, fileInput, myForm.valid)" class="mdl-cell--12-col mdl-grid">
			<div class="mdl-cell--12-col">
				<div class="form-group mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--10-col">
					<label class="mdl-textfield__label" for="policy_name">Policy Name*</label>
					<input class="mdl-textfield__input" id="policy_name" type="text" formControlName="policy_name">
					<span [hidden]="myForm.controls.policy_name.valid || (myForm.controls.policy_name.pristine && !submitted)" class="mdl-textfield__error">Policy name is required.</span>
				</div>
			</div>
				
			<div class="mdl-cell--12-col">
				<div class="form-group mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--10-col">
				    <textarea class="mdl-textfield__input" type="text" rows= "4" id="policy_description" formControlName="policy_description"></textarea>
				    <label class="mdl-textfield__label" for="policy_description">Description</label>
				</div>
			</div>
				
			<div class="mdl-cell--12-col">
		 		 <label class="input-custom-file mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="fileUploadLabel">{{policyFileName}}
                    <input type="file" [multiple]="multiple" #fileInput formControlName="policy_file" (change)="fileChangeEvent($event)">
                </label>
			</div>
			
			<div class="mdl-cell--12-col" style="margin-top:20px">
				<button type="submit" class="mdl-button mdl-color--accent mdl-button--raised">Create Policy</button>
			</div>
		</form>

      </div>			
	</div>
</div>
