<!-- Status cards -->
<div class="mdl-grid">
	<div class="mdl-card card-dark mdl-cell mdl-cell--12-col">
		<div class="mdl-card__title">
			<h2 class="mdl-card__title-text">Data Usage Control Policies</h2>
		</div>
		<div class="mdl-card__menu">
			<!-- Right aligned menu below button -->
			<button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
			  <i class="material-icons">more_horiz</i>
			</button>
			
			<ul for="demo-menu-lower-right" class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect">
			  <li routerLink="/dataflowpolicyynew" class="mdl-menu__item">New Policy</li>
			</ul>
		</div>
		<div class="mdl-card__supporting-text">
			<ul class="mdl-list" *ngFor="let policy of policies">
				<li class="mdl-list__item mdl-list__item--two-line">
					<span class="mdl-list__item-primary-content">
						<span>{{policy.name}}</span>
						<span class="mdl-list__item-sub-title">Rule</span>
					</span>
					<span class="mdl-list__item-secondary-content">
						<span class="mdl-list__item-secondary-info">Active</span><a class="mdl-list__item-secondary-action" href="#"><i class="material-icons mdl-color-text--teal">done</i></a>
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>
