<!-- Status cards -->
<div class="mdl-grid">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Usage Control</h2>
    </div>
    <div class="mdl-card__supporting-text">
	  <ul class="mdl-list">
		  <li class="mdl-list__item mdl-list__item--two-line">
		    <span class="mdl-list__item-primary-content">
		      <span>Data Flow Control</span>
		      <span class="mdl-list__item-sub-title">Prevents data leakage and privacy violations</span>
		    </span>
		    <span class="mdl-list__item-secondary-content">
		      <span class="mdl-list__item-secondary-info">Active</span>
		      <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons mdl-color-text--teal">done</i></a>
		    </span>
		  </li>

	  </ul>
    </div>
  </div>
  
</div>
