LABEL .*Input.* AS raw
LABEL .*Process.* AS processed
REMOVELABEL raw FROM .*Process.* 
ALLOW raw.* TO .*Process.*
ALLOW processed.* TO .*Output.*
LABEL .test.* AS inputHDFS
ALLOW inputHDFS.* TO .*foo.*
ALLOW inputHDFS.* TO hdfs2://*