LABEL .*Input.* AS raw
LABEL .*Input.* AS raw
LABEL .*Process.* AS processed
LABEL .*Process.* AS processed
LABEL .test.* AS inputHDFS
ALLOW raw.* TO .*Process.*
ALLOW processed.*, inputHDFS.* TO .*Output.*
ALLOW processed.*, raw.* TO .*Output.*
ALLOW inputHDFS.*, processed.* TO .*foo.*  
ALLOW inputHDFS.*, processed.* TO .*foo.*  
ALLOW inputHDFS.* TO .*hdfs.*  
ALLOW inputHDFS.* TO .*hdfs.*  
