<div class="mdl-grid">

  <div class="app-card mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
      <div class="mdl-card__title">
           <h2 class="mdl-card__title-text">Chart</h2>
      </div>
      <div class="chartContainer">
        <div id="visualization"></div>
      </div>
  </div>

  <div class="app-card mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">

    <div class="mdl-card__title">

        <h2 class="mdl-card__title-text">Packets</h2>

    </div>

    <div #list class="list" [scrollTop]="list.scrollHeight">

      <div  class="packet" *ngFor="let item of _numbers | async">

       <table>
          <tr>
            <td width="20%">
              packet {{item.id}}
            </td>
            <td width="80%">
              time -> {{item.time}}
            </td>
          </tr>
        </table>
      </div>
    </div>
</div>
