<div class="app-card mdl-card mdl-cell mdl-cell--12-col" [class.card-dark]="!started">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">{{ route.id }}</h2>
    </div>
    <div class="mdl-card__supporting-text">
        {{ route.description }}
        <div class="mdl-grid">
            <div class="mdl-grid mdl-cell--5-col">
                <div class="mdl-cell mdl-cell--6-col">Ctx Uptime</div>
                <div class="mdl-cell mdl-cell--6-col">{{ (route.uptime / 1000 / 60).toFixed() }} minutes</div>
                <div class="mdl-cell mdl-cell--6-col">Context</div>
                <div class="mdl-cell mdl-cell--6-col">{{ route.context }}</div>
                <div class="mdl-cell mdl-cell--6-col">Status</div>
                <div class="mdl-cell mdl-cell--6-col">{{ route.status }}</div>
            </div>
            <div class="mdl-grid mdl-cell--7-col">
                <zoom-viz class="zoom-viz" [dotSubject]="dotSubject"></zoom-viz>
            </div>
        </div>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" (click)="onToggle(route.id)">
            <i class="material-icons">{{ statusIcon }}</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" disabled>
            <i class="material-icons">delete</i>
        </button>
        <a class="mdl-button mdl-js-button mdl-js-ripple-effect" [routerLink]="['/routeeditor', route.id]">
            <i class="material-icons">edit</i>
        </a>
    </div>
</div>
